<div class="social-block-wrapper">
  <a href="#" class="icon fb-icon" title="Facebook">
    <i class="fa fa-facebook" hidden-aria="true"></i>
  </a>
  <a href="#" class="icon pint-icon" title="Pinterest">
    <i class="fa fa-pinterest-p" hidden-aria="true"></i>
  </a>
  <a href="#" class="icon tw-icon" title="Twitter">
    <i class="fa fa-twitter" hidden-aria="true"></i>
  </a>
  <a href="#" class="icon inst-icon" title="Instagram">
    <i class="fa fa-instagram" hidden-aria="true"></i>
  </a>
</div>