@import "partials/variables/variables";
@import "partials/mixins/mixins";
@import "partials/mixins/brakepoints";
@import "fontawesome/font-awesome.scss";
// Components
@import "components/header";
@import "components/footer";
@import "components/period-block";
@import "components/slick-slider";
@import "components/maincont";
@import "components/popup-ajax-week-menu";
@import "components/mosaic-layout";
@import "components/breadcrumbs";
@import "components/node";
@import "components/right-sidebar";
@import "components/all-weeks";

body {
  color: $color-black;
  font-family: 'Montserrat';
  .layout-container {
    position: relative;
    .region-header, .region-footer,
    .layout-content {
      margin: 0 auto;
      max-width: 1360px;
    }
  }
  main {
    display: flex;
    flex-direction: row;
    max-width: 1360px;
    margin: 0 auto;
  }
}
