.menu--weekly-menu { // #block-weeklymenu
  position: relative;
  border-color: $color-grey-light;
  border-style: solid;
  border-width: 1px 0;
  padding: 0 10px;
  //overflow: hidden;

  .menu {
    margin: 10px 0;
    padding: 0 3%;
    .slick-track {
      display: flex;
      margin: 0;
      position: relative;

      .menu-item {
        position: relative;
        display: inline-block;
        padding-top: 0;
        font-size: 13px;
        font-weight: normal;
        margin-right: 13px;

        a {
          color: $color-black;
          text-decoration: none;
          vertical-align: middle;
          line-height: 30px;

        }
        &:nth-child(2) {
          position: relative;
          margin-left: 60px;
          &:before {
            content: 'Week';
            font-size: 13px;
            pointer-events: none;
            display: inline-block;
            position: absolute;
            width: auto;
            height: auto;
            color: #9e9e9e;
            font-weight: 700;
            text-transform: uppercase;
            left: -61px;
            top: 8px;
          }
        }
        &:first-child,
        &:nth-child(42),
        &:last-child {
          border-right: 1px solid $color-grey-light;
          line-height: 30px;
          padding-right: 20px;
          margin-right: 20px;
          &:hover a {
            color: $icon-col-pink;
          }
        }
        &:nth-child(42),
        &:last-child {
          width: 30px !important;
        }
        &:last-child {
          border: none;
        }
        &:nth-child(14),
        &:nth-child(29),
        &:nth-child(41) {
          margin-right: 34px !important;
          &::after {
            content: '';
            position: absolute;
            right: -20px;
            top: 0;
            width: 1px;
            height: 100%;
            background: #dedede;
          }
        }
        &:first-child {
          padding-right: 45px;
        }
        @for $i from 2 through 41 {
          &:nth-child(#{$i}) {
            margin-right: 15px;
            font-size: 13px;
            font-weight: normal;
            width: 30px !important;
            height: 30px;
            text-align: center;
            vertical-align: middle;
            color: #000;
            cursor: pointer;
            border: 1px solid #fff;
            border-radius: 50%;

            &:nth-child(#{$i}):hover {
              a {
                color: #fff;
              }
              background-color: #ec188c;
              border: 1px #ec188c solid;
            }
          }
        }
      }
    }
  }
}

