.week-menu-ajax-page {
  padding: 2%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  .all-rows {
    display: flex;
    & > .views-row:first-child {
      display: flex;
      flex: 2;
      .left-col-menu-ajax {
        margin-right: 30px;
        flex: 3;
        .views-field-field-img {
          float: left;
          img {
            width: 100%;
            height: 330px;
          }
        }
      }
      .right-col-menu-ajax {
        flex: 4;
        .views-row {
          margin-top: 0;
        }
        .views-field-view-node {
          a {
            margin-top: 2rem;
            display: inline-block;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            padding: 10px 20px;
            text-decoration: none;
            border: 1px solid #000;
            text-transform: uppercase;
            border-radius: 0;
            -webkit-appearance: none;
            color: #000;
            background: #fff;
            &:hover {
              text-decoration: none;
              border-color: #ec188c;
              color: #ec188c;
            }
          }
        }

      }
    }
    .attachment-after {
      flex: 1;
      .six-box-ajax {
        .view-content {
          display: flex;
          flex-wrap: wrap;
          .views-row {
            flex: 0 0 100px;
            margin-top: 25px;
            margin-left: 5%;
            img {
              width: 100px;
              height: 150px;
              padding-top: 0;
            }
            a {
              text-decoration: none;
              font-weight: 400;
              font-size: 13px;
              margin-top: .35rem;
              line-height: 1.3;
              cursor: pointer;
              color: #aa0e63;
            }
          }
        }
      }
    }
  }
}