/* Slick slider on the fornt page */

$font-Flaticon-next: "\f100";
$font-Flaticon-back: "\f101";

.block-region-second {
  .view-content {
    width: 90%;
    margin: auto;
    .views-row {
      position: relative;
      height: 231px;
      &::after {
        background-image: linear-gradient(to bottom, transparent 0, transparent 60%, $color-black 100%);
        background-image: linear-gradient(to bottom, transparent 0, transparent 60%, $color-black 100%);
        background-image: linear-gradient(to bottom, transparent 0, transparent 60%, $color-black 100%);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      .views-field-title {
        bottom: 0;
        padding: 10px;
        position: absolute;
        text-align: center;
        z-index: 1;
        a {
          color: $color-white;
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
        }
      }
      .views-field-field-images {
        height: 100%;
        background-color: $color-grey-light;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .slick-prev,
  .slick-next {
    top: 44%;
    &:before {
      font-family: 'Flaticon';
      font-size: 50px;
      color: #ec188c;
    }
  }
  .slick-prev {
    left: -55px;
    &:before {
      content: $font-Flaticon-back;

    }
  }
  .slick-next {
    &:before {
      content: $font-Flaticon-next;
    }
  }
}

